<div id="<%= dom_id tour %>">
  <p>
    <strong>Tourname:</strong>
    <%= tour.tourName %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= tour.picture %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tour.description %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= tour.hotel %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tour.price %>
  </p>

</div>
